<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Properties>
		<Property name="pathRoot">/tima/logs/vehicle-alarm</Property>
		<Property name="app">vehicle-alarm</Property>
	</Properties>
	<Appenders>
		<!--<Console name="Console" target="SYSTEM_OUT">-->
			<!--<PatternLayout pattern="%d{MM-dd HH:mm:ss} %-5level %logger{10}:%n %msg%n" />-->
		<!--</Console>-->

		<Console name="AppConsole" target="SYSTEM_OUT">
			<!--<PatternLayout pattern="%d{MM-dd HH:mm:ss} %-5level %logger{10}:%n %msg%n" />-->
			<PatternLayout pattern="%d{MM-dd HH:mm:ss.SSS} %5p %c{1.}: %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<Logger name = "com.timanetworks" level="debug">
		</Logger>

		<Root level="debug">
			<AppenderRef ref="AppConsole" />
		</Root>
	</Loggers>
</Configuration>